// Here you can add other styles

div.spacer{
    font-size: 0;
    line-height: 0;
    height: 70px;
}

.app-body {
  margin-top: 0;
}
  
@media (max-width: 991.98px) {
  .app-body {
  margin-top: 0;
  }
}

@media (min-width: 992px) {
  .header-fixed .app-body {
    margin-top: 0;
  }
  .app-body {
    margin-top: 0;
  }
}

.breadcrumb {
    top: 0;
    align-items: center;
}

.breadcrumb-fixed .breadcrumb {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1017;
}
